.bg-container {
  min-height: 100vh;
}
.header-container {
  background-color: #3367d6;
  padding: 10px;
  display: flex;
  padding-left: 20px;
}
.logo-image {
  height: 24px;
  width: 100px;
  display: flex;
  align-items: center;
}
.search-container {
  display: flex;
  align-self: center;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .search-container {
    align-self: flex-start;
  }
}
.search-image-container {
  background-color: #2850a7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 30px;
}
.input-container {
  padding: 10px;
  height: 30px;
  margin-left: 10px;
  display: flex;
  background-color: #2850a7;
  width: 500px;
}
.input {
  background-color: #2850a7;
  border: none;
  outline: none;
  color: #ffffff;
  width: 100%;
}
.list-container {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.history-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0.2, 0.2);
}
